@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Padauk", sans-serif;
	font-size: 20px;
}

ul {
	margin: auto;
	cursor: pointer;
}
a {
	margin-top: 5px;
	text-decoration: none;
	color: white;
}

/* Header start */
.nav-container {
	background-color: #333;
	color: white;
	border: 1px solid black;
	display: flex;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 50px;
}
.nav-logo {
	width: 50%;
	display: flex;
}
.nav-logo img {
	margin: 5px 0 0 10px;
	height: 35px;
}
.nav-logo h1 {
	margin: 5px 0 0 25px;
}
.nav-menu li {
	margin-top: 10px;
	display: inline;
}
.nav-links {
	width: 20px;
	padding: 20px;
}
.nav-items a:hover {
	color: aqua;
}

.hamburger {
	margin-top: 10px;
	display: none;
}

/* header end */
/* main start */
main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

main section {
	margin-top: 70px;
	width: 75%;
	margin-right: 330px;
}

.blog-image img {
	margin: 20px 0 0 180px;
	border-radius: 5% 5%;
	height: 60%;
	width: 60%;
}
.blog-image img:hover {
	transform: scale(1.1);
	margin-bottom: 20px;
}
.blog-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	padding: 0 0 0 30px;
}
.blog-content h1,
p {
	text-align: justify;
}
h1 {
	font-size: 25px;
	font-weight: bolder;
}
h1:hover {
	text-decoration: underline;
}
p {
	margin-right: 100px;
}

aside {
	margin-top: 35vh;
	width: 27%;
	position: fixed;
}
h2 {
	font-size: 23px;
}
h2:hover {
	text-decoration: underline;
}
.related-link-list:hover {
	list-style: none;
	transform: scale(1.2);
	color: red;
}

/* main ends */

/* Footer start */
footer {
	bottom: 0;
	height: 50px;
	display: flex;
	background-color: #333;
	color: white;
}
.social-icons {
	margin: 5px 0 0 5vw;
	width: 20%;
	display: flex;
	justify-content: space-evenly;
}
i {
	color: white;
}
.fa-facebook {
	transform: scale(1.2);
	color: #3b5998;
}
.fa-twitter {
	transform: scale(1.2);
	color: #00acee;
}
.fa-instagram {
	transform: scale(1.2);
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-linkedin {
	transform: scale(1.2);
	color: #0e76a8;
}

.legal {
	font-size: 10px;
	display: flex;
	margin: 5px 0 0 5vw;
}

/* tablet view start */

@media (max-width: 768px) {
	main section {
		margin-top: 70px;
		width: 88%;
		margin-right: 210px;
	}
	.blog-image img {
		margin: 20px 70px;
	}
	.nav-links {
		width: 30px;
		padding: 0 9px;
	}
	aside {
		padding: 0 0 0 73vw;
	}
	i {
		padding: 0 20px;
	}
	.legal {
		display: flex;
		align-items: center;
		margin: 0 0 0 50px;
	}
	.legal p {
		font-size: 15px;
		margin-right: 10px;
	}
	.no-wrap a {
		font-size: 15px;
	}
}

/* tablet view end */
/* Mobile view */
@media (max-width: 530px) {
	.nav-menu {
		display: none;
	}
	.hamburger {
		display: block;
		margin-left: 150px;
	}
	main {
		display: flex;
		flex-direction: column-reverse;
	}
	main section {
		width: 100%;
		margin: 60px 0 0 0;
	}
	.blog-image img {
		width: 80%;
		height: 80%;
		margin: 10px 0 0 10vw;
	}
	.blog-content h1 {
		width: 90%;
	}
	p {
		font-size: 17px;
		width: 90%;
		text-align: justify;
	}
	aside {
		width: 100%;
		padding: 0;
		position: relative;
	}
	aside h2 {
		margin: -175px 0 0 130px;
		width: 50%;
	}
	aside .related-link-list {
		padding: 0 0 0 100px;
		font-size: 16px;
	}
	footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 110px;
	}
	.social-icons {
		margin: 0;
	}
	.social-icons a {
		padding: 0 30px;
	}
	.social-icons a:last-child {
		padding: 0;
	}
	i {
		padding: 0;
	}

	.legal {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.legal p {
		margin: 0;
		width: 100%;
	}
}
@media (max-width: 320px) {
	.hamburger {
		margin-left: 120px;
	}
	p {
		margin: 0;
	}
	h2 {
		margin: 0;
		padding: 0;
	}
	aside .related-link-list {
		padding: 0 0 0 40px;
		font-size: 16px;
	}
}
